<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.livingtechusa.reflexion">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Use to download content  -->
    <!-- Required only if your app needs to access images or photos
     that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required only if your app needs to access videos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

<!--    &lt;!&ndash; Required only if your app needs to access audio files-->
<!--         that other apps created. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.intent.action.WEB_SEARCH"/>

    <application
        android:name=".util.BaseApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Reflexion"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Reflexion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".MainActivityAlias0"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity-alias>
        <activity-alias
            android:name=".MainActivityAlias1"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_2"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_2_round"
            android:targetActivity=".MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity-alias>
        <activity-alias
            android:name=".MainActivityAlias2"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_4"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_4_round"
            android:targetActivity=".MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity-alias>
        <activity-alias
            android:name=".MainActivityAlias3"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_5"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_5_round"
            android:targetActivity=".MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity-alias>
        <activity-alias
            android:name=".MainActivityAlias4"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_6"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_6_round"
            android:targetActivity=".MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity-alias>
        <activity-alias
            android:name=".MainActivityAlias5"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_7"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_7_round"
            android:targetActivity=".MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.livingtechusa.reflexion.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>